@import "tailwindcss";

@theme {
	--color-spinorama-bg: #fff;
	--color-spinorama-bg-darker: #ddd;
	--color-spinorama-fg: #000;
	--shadow: 0px 0.5em 1em rgb(0, 0, 0, 0.3);
}

/* Page transitions */
.page-transition-enter-active,
.page-transition-leave-active {
  transition: opacity 0.3s ease;
}

.page-transition-enter-from,
.page-transition-leave-to {
  opacity: 0;
}